body {
    margin-bottom:40px;
    font-family: 'Tangerine', cursive;
    text-align: center;
    background-image: url("static/pexels-photo-844297.jpeg");
    background-color: #A1CAE2;

}
.img {
    background-size:cover;
}

.title{

    color: #0F044C;
    padding-top: 100px;
    padding-bottom: 15px;
    font-size: 5rem;
    font-weight: bolder;
}
.subheading {
    color: #0F2C67;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0px 0px 50px;
}
.empty{
    color: red;
}
.book{
    color: #C3195D;
    font-size: xx-large;
    font-weight: bolder;
}
.edit{
    margin: 20px;
}
.delete {
    margin: 20px;
}

